@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';






.pastel-sidebar {
    background-color: #fcefe3 !important; /* Color pastel salmón claro */
    color: #333; /* Color del texto */
}

.pastel-sidebar .nav-link,
.pastel-sidebar .brand-link {
    color: #444 !important;
}

.pastel-sidebar .nav-link.active {
    background-color: #f8d3c7 !important; /* Pastel más fuerte para el activo */
    color: #000 !important;
}
}


